<div class="container center">
    <div class="modal fade" id="gameOver" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-if="model.client.currWinStatus">
                        <h1>CONGRATULATIONS</h1>
                        <h2>YOU WON!</h2>
                        <p>Do you want to play again?</p>
                    </div>
                    <div ng-if="model.client.currLoseStatus">
                        <h2>Oh no...</h2>
                        <h1>YOU LOST!</h1>
                        <p>Do you want to play again?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            ng-click="model.startNewGame(true);"
                            data-dismiss="modal">
                        Yes
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="model.startNewGame(false);"
                            data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: left">
        <ul class="list-group">
            <li class="list-group-item"><b>*</b> This web-app uses cookies to store your session details</li>
            <li class="list-group-item"><b>*</b> Focus around the image to use keyboard to input guesses (you will see a blue-outline)</li>
        </ul>
    </div>
    <div class="row">
        <form action="/api/wordSet/upload"  method="post" enctype="multipart/form-data">
            <div class="col-md-2 pull-right">
                <button type="submit"
                        class="btn btn-block btn-success"
                        data-toggle="tooltip"
                        title="Upload a text file with the set of words (new-line separated) you want to guess from to play Hangman!">
                    Upload Word Set
                </button>
            </div>
            <div class="col-sm-3 pull-right">
                <input name="myFile" type="file" class="form-control" required/>
            </div>
        </form>
    </div>

    <div ng-keypress="model.keyEvent($event);" tabindex="1">
        <h1>Hangman!</h1>

        <h2>
            <span ng-if="!model.client.currWinStatus && !model.client.currLoseStatus">Start guessing</span>
            <span ng-if="model.client.currWinStatus" class="green">YOU WON!</span>
            <span ng-if="model.client.currLoseStatus" class="red">YOU LOST!</span>
        </h2>

        <div class="container-fluid background-lightgrey">
            <img class="image-hangman" ng-src="../images/{{model.client.wrongGuesses}}.png">
        </div>

        <div class="container-fluid">
            <div class="row">
                <span class="pull-right">Games Won / Games Played</span>
            </div>
            <div class="row">
                <strong class="pull-right">{{model.client.gamesWon}} / {{model.client.gamesPlayed}}</strong>
            </div>
        </div>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div>
            <h3>
                <span ng-repeat="letter in model.currWordArray track by $index">
                    <span ng-if="model.client.currentGuesses.includes(letter)">{{letter.toUpperCase();}}</span>
                    <span ng-if="!model.client.currentGuesses.includes(letter) && letter!=' '">_</span>
                    <span ng-if="letter==' '">&nbsp; &nbsp;</span>
                </span>
            </h3>
        </div>

        <div class="row">
            <div ng-if="model.client.currLoseStatus">
                The word was <h4>{{model.client.currentWord.toUpperCase();}}</h4>
            </div>
        </div>

        <div id="alphabetButtons">
            <ul ng-if="!model.client.currWinStatus && !model.client.currLoseStatus">
                <li class="btn letter-buttons"
                    ng-repeat="letter in model.alphabet"
                    ng-click="model.checkGuess(letter);"
                    ng-class="model.client.currentGuesses.includes(letter)?'disabled':'btn-primary'">
                    {{letter.toUpperCase();}}
                </li>
            </ul>
            <button ng-if="model.client.currWinStatus || model.client.currLoseStatus"
                    ng-click="model.startNewGame(true);"
                    class="btn btn-primary">
                Start New Game
            </button>
        </div>
    </div>
</div>