<div class="container center">
    <div class="row">
        <form action="/api/wordSet/upload"  method="post" enctype="multipart/form-data">
            <div class="col-md-2 pull-right">
                <button type="submit"
                        class="btn btn-block btn-success"
                        data-toggle="tooltip"
                        title="Upload a text file with the set of words (new-line separated) you want to guess from to play Hangman!">
                    Upload Word Set
                </button>
            </div>
            <div class="col-sm-3 pull-right">
                <input name="myFile" type="file" class="form-control"/>
                <input name="test" value="Test" style="display: none"/>
            </div>
        </form>
    </div>
    <h1>Hangman!</h1>
    <h2>Start guessing</h2>
    <h2>{{model.client.gamesWon}}/{{model.client.gamesPlayed}}</h2>
    <h1>Have I won yet? {{model.winStatus}}</h1>
    <h1>So did I lose? {{model.loseStatus}}</h1>
    <div class="container-fluid background-lightgrey">
        <img class="image-hangman" ng-src="../images/{{model.client.wrongGuesses}}.png">
    </div>
    {{model.client}}
    {{model.currWordArray}}
    <div>
        <h3>
            <span ng-repeat="letter in model.currWordArray track by $index">
                <span ng-if="model.client.currentGuesses.includes(letter)">{{letter.toUpperCase();}}</span>
                <span ng-if="!model.client.currentGuesses.includes(letter)">_</span>
            </span>
        </h3>
    </div>
    <div id="alphabetButtons">
        <ul>
            <li class="btn letter-buttons"
                ng-repeat="letter in model.alphabet"
                ng-click="model.checkGuess(letter);"
                ng-class="model.client.currentGuesses.includes(letter)?'disabled':'btn-primary'">
                {{letter.toUpperCase();}}
            </li>
        </ul>
    </div>
    <div>
        {{model.client.currentGuesses}}
    </div>
</div>