.center {
    text-align: center;
}

.background-lightgrey {
    background-color: lightgrey
}

.image-hangman {
    padding: 5px;
    border: dashed;
    border-color: gray
}

.letter-buttons {
    margin-right: 5px;
}

.red {
    color: red;
}

.green {
    color: green;
}